/* Background Image */
html, body {
    background-image: url(../images/woodendeckgrassmountain.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* Navbar */
.nav-wrapper {
    opacity: 100%;
    position: absolute;
}

.sidepanel {
    width: 200px;
    height: 360px;
    /* margin-top: 50px; */
    /* margin-left: 100px; */
    background-color:gray;
    float: left;
    opacity: 90%;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 1px rgba(0, 0, 0, 0.19);
    padding: 15px;
    border-radius: 10px;
}

#results {
    display: block;
    margin-top: 20px;
    margin-right: 170px;
    /* background-color: white; */
    float: right;
}

#form {
    width: 500px;
    height: 50px;
    margin-left: 125px;
    margin-top: 300px;
    position: absolute;
    float: right;
    opacity: 80%;
    background-color: #90a4ae;
}

input {
    /* margin-left: 235px; */
    float: right;
    position: absolute;
}

button {
    margin-left: 550px;
    margin-right: 5px;
}

::placeholder {
    text-align: center;
    color: black;
}

#search {
    border-radius: 24px;
    padding: 5px;
    position: absolute;
    float: right;
    background-color: grey;
    width: 42px;
    height: 42px;
    margin-left: 800px;
    margin-right: 370px;
    margin-bottom: 1000px;
}

#geolocationBtn{
    margin-bottom: 20px;
}

#geolocation{
    background-color: grey;
    width: 100px;
    height: 40px;
    margin-left: 235px;
    margin-right: 370px;
    margin-bottom: 1000px;
}

p {
    color: white;
    text-align: center;
    font-size: 12pt;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Trail results */
#wrapper {
    display: none;
}

.close {
    float: right;
}

.hide {
    display: none;
}

.row {
    display: none;
}

/* Footer */
.footer-copyright {
    text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card {
    background-color: #0d6e2f;
    border-radius: 10px;
    height: 200px !important;
    width: auto;
    overflow: hidden;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 1px rgba(0, 0, 0, 0.19);
    }

.float {
    float:left;
    clear: left;
}

.trailImage{
    height: 170px;
    overflow:hidden;
}

#tImage-0 {
    height: 300px;
    max-width: 250px;
    overflow: hidden;
    border-radius: 20px;
    margin: 10px;
}

.card-text{
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#locationName, #icon {
    text-align: center;
}

#modal1 {
    background-image: url('../images/topography.png');
}

h5 {
    
    font-style: bold;
    clear: right;
    
}