/* Background Image */
html, body {
    background-image: url(../images/woodendeckgrassmountain.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* Navbar */
.nav-wrapper {
    opacity: 100%;
}

.sidepanel {
    width: 200px;
    height: 360px;
    margin-top: 20px;
    margin-left: 120px;
    background-color:gray;
    float: left;
    opacity: 50%;
}

#results {
    display: block;
    margin-top: 20px;
    margin-right: 170px;
    /* background-color: white; */
    float: right;
}

form {
    width: 500px;
    height: 50px;
    margin-left: 125px;
    margin-top: 300px;
    /* float: center; */
    opacity: 80%;
    background-color: #90a4ae;
}

input {
    float: left;
}

::placeholder {
    text-align: center;
    color: black;
}

#search {
    border-radius: 28px;
    padding: 5px;
    float: center;
    background-color: grey;
    width: 40px;
    height: 40px;
    margin-left: 235px;
    margin-right: 370px;
    margin-bottom: 1000px;
}

#geolocation{
    background-color: grey;
    width: 100px;
    height: 40px;
    margin-left: 235px;
    margin-right: 370px;
    margin-bottom: 1000px;
}

p {
    color: white;
    text-align: center;
    font-size: 14pt;
}

/* Trail results */
.close {
    float: right;
}

.hide {
    display: none;
}

/* Footer */
.footer-copyright {
    text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card {
    background-color: #0d6e2f;
    border-radius: 10px;
    height: 200px !important;
    width: auto;
    overflow: hidden;
    }

#float {
    float:left;
    padding:10px;
}

.trailImage{
    height: 170px;
    overflow:hidden;
}